.outside{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  background-color: #bababa;
}
.news{
  margin: 100px 0px;
  display: flex;
  justify-content: space-evenly;

}
.news-first{

}
.news-right{
  left: 20px;
}
.main{
  /*width: 1200px;*/
  display: flex;
  margin: 100px 0;
  justify-content: space-evenly;
}
.nav-login{
  position: fixed;
  height: 30px;
  width: 100%;
  border-bottom: 1px solid darkgreen;
  background-color: #42b983;
  z-index: 11;
}
.login-center{
  position: fixed;
  left: 50%;
  top:50%;
  margin: -150px;
  z-index:10
}
.login-fl{
  display: flex;
  justify-content: flex-end;
}
.overlay{
  position: fixed;
  background-color: darkgray;
  height: 100%;
  width: 100%;
  z-index: 9;
  opacity: 0.7;
}
